 .index {
    text-align:center;
 }

 .burger,
 .cream,
 .nashville,
 .index {
    background-color:antiquewhite;
 }

 .introduction { 
    border:5px solid black;
 }

.ingredients {
    border: 5px solid black;
    display:inline-block;
    text-align:left;
    padding:10px 50px;
    margin:30px;
    margin-inline:30%;
    line-height:1.5;
}

.instructions {
    border: 5px solid black;
    display:inline-block;
    text-align:left;
    padding:10px 50px;
    margin:30px;
    line-height:1.5;
}

.burger .introduction,
.burger .ingredients,
.burger .instructions {
    background-color:rgb(146, 75, 34);
}

.cream .introduction,
.cream .ingredients,
.cream .instructions,
.cream .tips{
    background-color:#d29ea2;
    border:5px solid black;
    padding:0px 15px;
}

.nashville .introduction,
.nashville .ingredients,
.nashville .instructions {
    background-color:darkred;
    color:black;
}


 .index .container {
    border: 2px solid black;
    padding-bottom: 25px;
 }

 h1 {
    text-align:center;
 }
.burger {
    text-align: center;
}
 .burger h1,
 .burger h1,
 .burger h1 {
    display:inline-block;
    margin: 20px;
    border: 4px solid black;
    padding: 10px;
 }

 h1.index {
    color:orange;
    font-size:30;
}

 p {
    font-size:16px;
    text-align:center
}

img {
    height: 310px;
    display:block;
    max-width:fit-content;
    margin-inline:auto;
}

.burger.link,
.cream.link,
.nashville.link {
    color:white;
    font-size:20px;
    text-decoration:none;
    border:2px solid black;
    padding: 5px;
}

.burger.link {
    background-color:rgb(146, 75, 34);
}

.cream.link {
    background-color:grey;
}

.nashville.link {
    background-color:darkred
}

.enjoy {
    font-size: 20px;
    line-height: 2;
}

.old_versions {
    color:black;
    font-size:20px;
    text-decoration:none;
    border:2px solid black;
    padding: 5px;
    background-color: darkorange
}